<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
    <title></title>
</head>
<body class="w3-light-grey w3-center">
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    {% if "This user either already exists in the group or has the same name" in  error %}
    <form action="/check_again" method="POST">
        <input type="hidden" name="email" value="{{email}}">
        <input type="hidden" name="fg_name" value="{{fg_name}}">
        <input type="text" name="being_checked" placeholder="Username">
        <input class="w3-tag w3-teal w3-round" type="submit" id="check_butt" value="Check">

    </form>
    {% endif %}

</body>
</html>