<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey w3-center">
<form action="/loginAuth" method="POST">
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input class="w3-tag w3-teal w3-round w3-center" type="submit" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</bodyclass="w3-light-grey>


</html>
