<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>
     <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <table>
        <th>Tags</th>

        {% for tag in tags %}
        <tr>
            <td>{{tag.fname}}</td>
            <td>{{tag.lname}}</td>

            {% endfor %}
        </tr>
    </table>

    <table>
        <th>Ratings</th>
        {% for rate in ratings %}
        <tr>
        <td>
            {{rate.emoji}}
        </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>




            